node_modules
src/index.html
src/assets/img/copy.png
src/assets/img/favicon.png
src/assets/img/jump.png
src/assets/img/location.png
src/assets/img/logo.png
src/assets/img/top-button.png
src/assets/img/hero/02_Front.jpg
src/assets/img/hero/03_Pool.jpg
src/assets/img/hero/04_Sea.jpg
src/assets/img/hero/05_Front.jpg
src/assets/img/hero/06_Zakat.jpg
src/assets/img/hero/07_Dvor.jpg
src/assets/img/hero/07_Night_START.jpg
src/assets/img/hero/08_Front_END.jpg
src/assets/img/hero/jump.png
src/assets/img/hero/top-button.png
src/assets/img/hero/icons/location.png
src/assets/img/hero/icons/parking.png
src/assets/img/hero/icons/room.png
src/assets/img/hero/icons/sea.png
src/assets/img/section-3/BG_deco.png
src/assets/img/section-3/contacts-bg.png
src/assets/img/section-3/email.png
src/assets/img/section-3/location.png
src/assets/img/section-3/map.jpg
src/assets/img/section-3/phone.png
src/assets/img/section_2/0_floor.png
src/assets/img/section_2/0-floor.svg
src/assets/img/section_2/1_floor.png
src/assets/img/section_2/1-floor.svg
src/assets/img/section_2/2_floor.png
src/assets/img/section_2/2-floor.svg
src/assets/img/section_2/3_floor.png
src/assets/img/section_2/3-floor.svg
src/assets/img/section_2/4_floor.png
src/assets/img/section_2/4-floor.svg
src/assets/img/section_2/house-bg.png
src/assets/img/section_2/tabs-icon.png
src/assets/img/section_2/east-house/2_floor.png
src/assets/img/section_2/west-house/2_floor.png
src/components/custom/contacts.html
src/components/custom/contacts.js
src/components/custom/contacts.scss
src/components/effects/cursor/cursor.js
src/components/effects/cursor/cursor.scss
src/components/effects/darklite/darklite.js
src/components/effects/darklite/darklite.scss
src/components/effects/gsap/gsap.html
src/components/effects/gsap/gsap.js
src/components/effects/gsap/gsap.scss
src/components/effects/marquee/marquee.html
src/components/effects/marquee/marquee.js
src/components/effects/marquee/marquee.scss
src/components/effects/mouse/mouse.html
src/components/effects/mouse/mouse.js
src/components/effects/parallax/parallax.html
src/components/effects/parallax/parallax.js
src/components/effects/parallax/parallax.scss
src/components/effects/preloader/preloader.html
src/components/effects/preloader/preloader.js
src/components/effects/preloader/preloader.scss
src/components/effects/ripple/ripple.html
src/components/effects/ripple/ripple.js
src/components/effects/ripple/ripple.scss
src/components/effects/screenshot/screenshot.js
src/components/effects/scrollto/scrollto.js
src/components/effects/splittype/splittype.html
src/components/effects/splittype/splittype.js
src/components/effects/splittype/splittype.scss
src/components/effects/tippy/tippy.js
src/components/effects/tippy/tippy.scss
src/components/effects/watcher/watcher.js
src/components/effects/zoom/zoom.html
src/components/effects/zoom/zoom.js
src/components/effects/zoom/zoom.scss
src/components/forms/_functions.js
src/components/forms/addtocart/addtocart.html
src/components/forms/addtocart/addtocart.js
src/components/forms/addtocart/addtocart.scss
src/components/forms/button/button.html
src/components/forms/button/button.js
src/components/forms/button/button.scss
src/components/forms/checkbox/checkbox.html
src/components/forms/checkbox/checkbox.js
src/components/forms/checkbox/checkbox.scss
src/components/forms/datepicker/_lang.json
src/components/forms/datepicker/datepicker.html
src/components/forms/datepicker/datepicker.js
src/components/forms/datepicker/datepicker.scss
src/components/forms/form/form.html
src/components/forms/form/form.js
src/components/forms/form/form.scss
src/components/forms/input/input.html
src/components/forms/input/input.js
src/components/forms/input/input.scss
src/components/forms/input/plugins/autoheight.js
src/components/forms/input/plugins/mask.js
src/components/forms/input/plugins/viewpass.js
src/components/forms/novaposhta/novaposhta.html
src/components/forms/novaposhta/novaposhta.js
src/components/forms/novaposhta/novaposhta.scss
src/components/forms/quantity/quantity.html
src/components/forms/quantity/quantity.js
src/components/forms/quantity/quantity.scss
src/components/forms/radio/radio.html
src/components/forms/radio/radio.js
src/components/forms/radio/radio.scss
src/components/forms/range/range.html
src/components/forms/range/range.js
src/components/forms/range/range.scss
src/components/forms/rating/rating.html
src/components/forms/rating/rating.js
src/components/forms/rating/rating.scss
src/components/forms/select/select.html
src/components/forms/select/select.js
src/components/forms/select/select.scss
src/components/layout/beforeafter/beforeafter.html
src/components/layout/beforeafter/beforeafter.js
src/components/layout/beforeafter/beforeafter.scss
src/components/layout/chart/chart.html
src/components/layout/chart/chart.js
src/components/layout/chart/chart.scss
src/components/layout/digcounter/digcounter.html
src/components/layout/digcounter/digcounter.js
src/components/layout/digcounter/digcounter.scss
src/components/layout/dynamic/dynamic.js
src/components/layout/footer/footer.html
src/components/layout/footer/footer.js
src/components/layout/footer/footer.scss
src/components/layout/fullpage/fullpage.html
src/components/layout/fullpage/fullpage.js
src/components/layout/fullpage/fullpage.scss
src/components/layout/gallery/gallery.js
src/components/layout/gallery/assets/lg-autoplay.css
src/components/layout/gallery/assets/lg-comments.css
src/components/layout/gallery/assets/lg-fullscreen.css
src/components/layout/gallery/assets/lg-medium-zoom.css
src/components/layout/gallery/assets/lg-pager.css
src/components/layout/gallery/assets/lg-relative-caption.css
src/components/layout/gallery/assets/lg-rotate.css
src/components/layout/gallery/assets/lg-share.css
src/components/layout/gallery/assets/lg-thumbnail.css
src/components/layout/gallery/assets/lg-transitions.css
src/components/layout/gallery/assets/lg-video.css
src/components/layout/gallery/assets/lg-zoom.css
src/components/layout/gallery/assets/lightgallery-bundle.css
src/components/layout/gallery/assets/lightgallery-core.css
src/components/layout/gallery/assets/lightgallery.css
src/components/layout/gallery/assets/fonts/lg.woff2
src/components/layout/gallery/assets/images/loading.gif
src/components/layout/grid/grid.html
src/components/layout/grid/grid.js
src/components/layout/grid/grid.scss
src/components/layout/head/fonts-preload.html
src/components/layout/head/head.html
src/components/layout/header/header.html
src/components/layout/header/header.js
src/components/layout/header/header.scss
src/components/layout/header/plugins/scroll/scroll.js
src/components/layout/header/plugins/scroll/scroll.scss
src/components/layout/map/_settings.js
src/components/layout/map/map.html
src/components/layout/map/map.js
src/components/layout/map/map.scss
src/components/layout/masonry/masonry.html
src/components/layout/masonry/masonry.js
src/components/layout/masonry/masonry.scss
src/components/layout/menu/menu.html
src/components/layout/menu/menu.js
src/components/layout/menu/menu.json
src/components/layout/menu/menu.scss
src/components/layout/popup/popup.html
src/components/layout/popup/popup.js
src/components/layout/popup/popup.scss
src/components/layout/showmore/showmore.html
src/components/layout/showmore/showmore.js
src/components/layout/showmore/showmore.scss
src/components/layout/slider/slider-item.html
src/components/layout/slider/slider.html
src/components/layout/slider/slider.js
src/components/layout/slider/slider.scss
src/components/layout/slider/slides.json
src/components/layout/spollers/spollers.html
src/components/layout/spollers/spollers.js
src/components/layout/spollers/spollers.scss
src/components/layout/tabs/tabs.html
src/components/layout/tabs/tabs.js
src/components/layout/tabs/tabs.scss
src/components/pages/index/index.html
src/components/pages/index/index.js
src/components/pages/index/index.scss
src/components/templates/inner/inner.html
src/components/templates/inner/inner.js
src/components/templates/inner/inner.scss
src/components/templates/main/main.html
src/components/templates/main/main.js
src/components/templates/main/main.scss
src/components/wordpress/fls-wp-fonts.js
src/components/wordpress/fls-wp-includes.js
src/components/wordpress/fls-wp-modules.js
src/components/wordpress/fls-wp-styles.js
src/components/wordpress/fls-theme/.eslintrc
src/components/wordpress/fls-theme/404.php
src/components/wordpress/fls-theme/archive.php
src/components/wordpress/fls-theme/comments.php
src/components/wordpress/fls-theme/composer.json
src/components/wordpress/fls-theme/footer.php
src/components/wordpress/fls-theme/functions.php
src/components/wordpress/fls-theme/header.php
src/components/wordpress/fls-theme/index.php
src/components/wordpress/fls-theme/LICENSE
src/components/wordpress/fls-theme/package.json
src/components/wordpress/fls-theme/page.php
src/components/wordpress/fls-theme/phpcs.xml.dist
src/components/wordpress/fls-theme/README.md
src/components/wordpress/fls-theme/readme.txt
src/components/wordpress/fls-theme/screenshot.png
src/components/wordpress/fls-theme/search.php
src/components/wordpress/fls-theme/sidebar.php
src/components/wordpress/fls-theme/single.php
src/components/wordpress/fls-theme/style.css
src/components/wordpress/fls-theme/assets/app.js
src/components/wordpress/fls-theme/build/assets/css/app.min.css
src/components/wordpress/fls-theme/build/assets/css/custom.css
src/components/wordpress/fls-theme/build/assets/css/dev/app.css
src/components/wordpress/fls-theme/build/assets/css/dev/custom.css
src/components/wordpress/fls-theme/build/assets/js/app.min.js
src/components/wordpress/fls-theme/build/assets/js/custom.js
src/components/wordpress/fls-theme/build/assets/js/dev/app.js
src/components/wordpress/fls-theme/build/assets/js/dev/custom.js
src/components/wordpress/fls-theme/inc/assets-include.php
src/components/wordpress/fls-theme/inc/custom-header.php
src/components/wordpress/fls-theme/inc/customizer.php
src/components/wordpress/fls-theme/inc/jetpack.php
src/components/wordpress/fls-theme/inc/template-functions.php
src/components/wordpress/fls-theme/inc/template-tags.php
src/components/wordpress/fls-theme/inc/woocommerce.php
src/components/wordpress/fls-theme/languages/fls.pot
src/components/wordpress/fls-theme/languages/readme.txt
src/components/wordpress/fls-theme/template-parts/content-none.php
src/components/wordpress/fls-theme/template-parts/content-page.php
src/components/wordpress/fls-theme/template-parts/content-search.php
src/components/wordpress/fls-theme/template-parts/content.php
src/js/app.js
src/js/common/functions.js
src/js/react/App.jsx
src/js/vue/App.vue
src/php/index.php
src/php/sendmail/config.php
src/php/sendmail/index.php
src/php/sendmail/phpmailer/COMMITMENT
src/php/sendmail/phpmailer/composer.json
src/php/sendmail/phpmailer/get_oauth_token.php
src/php/sendmail/phpmailer/LICENSE
src/php/sendmail/phpmailer/README.md
src/php/sendmail/phpmailer/SECURITY.md
src/php/sendmail/phpmailer/VERSION
src/php/sendmail/phpmailer/language/phpmailer.lang-af.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ar.php
src/php/sendmail/phpmailer/language/phpmailer.lang-az.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ba.php
src/php/sendmail/phpmailer/language/phpmailer.lang-be.php
src/php/sendmail/phpmailer/language/phpmailer.lang-bg.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ca.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ch.php
src/php/sendmail/phpmailer/language/phpmailer.lang-cs.php
src/php/sendmail/phpmailer/language/phpmailer.lang-da.php
src/php/sendmail/phpmailer/language/phpmailer.lang-de.php
src/php/sendmail/phpmailer/language/phpmailer.lang-el.php
src/php/sendmail/phpmailer/language/phpmailer.lang-eo.php
src/php/sendmail/phpmailer/language/phpmailer.lang-es.php
src/php/sendmail/phpmailer/language/phpmailer.lang-et.php
src/php/sendmail/phpmailer/language/phpmailer.lang-fa.php
src/php/sendmail/phpmailer/language/phpmailer.lang-fi.php
src/php/sendmail/phpmailer/language/phpmailer.lang-fo.php
src/php/sendmail/phpmailer/language/phpmailer.lang-fr.php
src/php/sendmail/phpmailer/language/phpmailer.lang-gl.php
src/php/sendmail/phpmailer/language/phpmailer.lang-he.php
src/php/sendmail/phpmailer/language/phpmailer.lang-hi.php
src/php/sendmail/phpmailer/language/phpmailer.lang-hr.php
src/php/sendmail/phpmailer/language/phpmailer.lang-hu.php
src/php/sendmail/phpmailer/language/phpmailer.lang-hy.php
src/php/sendmail/phpmailer/language/phpmailer.lang-id.php
src/php/sendmail/phpmailer/language/phpmailer.lang-it.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ja.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ka.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ko.php
src/php/sendmail/phpmailer/language/phpmailer.lang-lt.php
src/php/sendmail/phpmailer/language/phpmailer.lang-lv.php
src/php/sendmail/phpmailer/language/phpmailer.lang-mg.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ms.php
src/php/sendmail/phpmailer/language/phpmailer.lang-nb.php
src/php/sendmail/phpmailer/language/phpmailer.lang-nl.php
src/php/sendmail/phpmailer/language/phpmailer.lang-pl.php
src/php/sendmail/phpmailer/language/phpmailer.lang-pt_br.php
src/php/sendmail/phpmailer/language/phpmailer.lang-pt.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ro.php
src/php/sendmail/phpmailer/language/phpmailer.lang-ru.php
src/php/sendmail/phpmailer/language/phpmailer.lang-sk.php
src/php/sendmail/phpmailer/language/phpmailer.lang-sl.php
src/php/sendmail/phpmailer/language/phpmailer.lang-sr.php
src/php/sendmail/phpmailer/language/phpmailer.lang-sv.php
src/php/sendmail/phpmailer/language/phpmailer.lang-tl.php
src/php/sendmail/phpmailer/language/phpmailer.lang-tr.php
src/php/sendmail/phpmailer/language/phpmailer.lang-uk.php
src/php/sendmail/phpmailer/language/phpmailer.lang-vi.php
src/php/sendmail/phpmailer/language/phpmailer.lang-zh_cn.php
src/php/sendmail/phpmailer/language/phpmailer.lang-zh.php
src/php/sendmail/phpmailer/src/Exception.php
src/php/sendmail/phpmailer/src/OAuth.php
src/php/sendmail/phpmailer/src/PHPMailer.php
src/php/sendmail/phpmailer/src/POP3.php
src/php/sendmail/phpmailer/src/SMTP.php
src/php/telegram/index.php
src/projectpage/projectpage.html
src/pug/index.pug
src/pug/components/footer.pug
src/pug/components/header.pug
src/styles/settings.scss
src/styles/style.scss
src/styles/fonts/fonts.css
src/styles/fonts/iconfont.css
src/styles/includes/extends.scss
src/styles/includes/index.scss
src/styles/includes/mixins.scss
src/styles/includes/spritemap.scss
src/styles/includes/variables.css
src/styles/libs/reset.css
src/styles/libs/tailwind.css
template_modules/coffeetime.js
template_modules/createcomponent.js
template_modules/createcomponentpage.js
template_modules/createnewpage.js
template_modules/fonts.js
template_modules/ftp.js
template_modules/git.js
template_modules/html.js
template_modules/ignored.js
template_modules/images.js
template_modules/logger.js
template_modules/main.js
template_modules/navpanel.js
template_modules/novaposhta.js
template_modules/php.js
template_modules/projectpage.js
template_modules/pug.js
template_modules/rollup-plugins.js
template_modules/scripts.js
template_modules/snippets-generate.js
template_modules/statistics.js
template_modules/styles.js
template_modules/svgoptimaze.js
template_modules/template.imports.js
template_modules/vscode-settings.js
template_modules/zip.js
template_modules/assets/fls.code-snippets
template_modules/assets/php.ini
template_modules/iconfont/css.hbs
template_modules/iconfont/html.hbs
template_modules/languages/en.json
template_modules/languages/ua.json
template_modules/posthtml/aliases.js
template_modules/posthtml/extend.js
template_modules/posthtml/fetch.js
template_modules/posthtml/include.js
template_modules/posthtml/prerender.js
template_modules/statistics/data.json
template_modules/wordpress/assets-include.js
template_modules/wordpress/terminal.js
template_modules/wordpress/wp-config.php
.vscode/fls.code-snippets
.vscode/settings.json
cover.jpg
docker-compose.yml
package-lock.json
package.json
README.TXT
template.config.js
vite.config.js
